{% extends 'base.html' %}
{% block title %}Update Profile{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Update Profile</h1>
        </div>
        <form action='.' method='POST'>{% csrf_token %}
            <div class="fieldWrapper">
                <label for="{{ form.name.id_for_label }}">Username:</label>
                {{ form.username }}
            </div>
            <a class="btn btn-primary" href="../../" role="button">Cancel</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <br/>
        {% include 'error.html' %}
    </div>
{% endblock %}